<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World! </title>
</head>
<body>
    {{.}}
    {{. | fdbl}}
    {{. | fdbl | fsq}}
    {{. | fdbl | fsq | fsqrt}}}
</body>
</html>